body{
    background-color: rgb(250, 250, 250);
}

.grid{
    display: grid;
    
    grid-template-columns:4% 32% 32% 32%;
    background-color:#FF0000;

}

.grid div{
    
    color: rgb(0, 0, 0);
}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color:#0000FF;
}

.item2{
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: #4B0082;
}

.item3{
    grid-column: 4/5;
    background-color: #FFFF00;
}

.item4{
    grid-column: 1/2 ;
    background-color: white;
}

.item5{
    grid-column: 2/3;
    background-color: white;
}


.item6{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: #808080;
}

.item7{
    grid-column: 1/2;
    background-color: white;
}


.item8{
    grid-column: 3/4;
    background-color:#00FFFF;
}

